/*#052c53 #094c90 #097188*/
body{
    background-color: rgb(41, 39, 39);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    margin-left: 25%;
    margin-right: 25%;
}
.logo{
     display: flex;
     color: white; 
     justify-content: flex-start;
}
.menu{
    display: flex;
    gap: 50%;
    position: absolute;
    left: 40%;
}
nav{
   background-color: #90091d;
   height: 70px;
   text-align: center;
   display: flex;
   align-items: center;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   right: 0;
}
nav a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    padding: 3%;
}
nav a:hover{
    background-color: #094c90;
    text-decoration: underline;
}
article{
    background-color: #052c53;
    padding: 10%;
    color: white;
    margin-top: 2%;
    margin-bottom: 3%;
}
article img, figcaption{
    margin-left: 25%;
    font-size: 11px;
}
p{
    text-indent: 40px;
}
.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 11px;    
}
figure{
    margin-top: 5%;
}
footer{
    background-color: #90091d;
    color: white;
    text-align: center;
    padding: 10px;
    height: 70px;
    line-height: 70px;
}
