header{
  display:flex;
}
nav{
    display: flex;
    width: 100%;   
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:10px;
    justify-content:space-between;
    align-items: center;
    background-color: #009967;
    color: white; 
    border-radius:12px;
}

.imgTexto>img{
  height:28px;
  width:auto;
}
.container2{
  display:flex;
  align-items: center;
}
a{
  padding:15px 15px;
  text-decoration:none;
  color:white;
}
a:hover{
  background-color:#0377508a;
  border-radius:12px; 
}
img{
  width: 16px;
  height: 16px; 
}
.home,.noticias{
  margin-top:4%;
  display: flex;
  width: 70%;
  padding: 32px;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid #E2E8F0;
  background: #FFF;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
}
.noticias{
  width:20%;
}
legend{
  color:#009966;
  font-size:10px;
}
bottom{
  display:flex;
  background-color: #009967;
  color:white;
  border-radius: 10px;
  border: 1px solid #E2E8F0;
  justify-content:center;
  align-items: end;
  padding:10px;
}
.paiHomeNoticia{
  display:flex;
  flex-direction:row;
  gap:5%;
}
.imgTexto{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:7px;
}
.paiextras{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}
p{
  margin:8px;
  margin-left:0;
}
.extra,.extra2{
display: flex;
width: 40%;
padding: 14px;
flex-direction: column;
align-items: flex-start;
border-radius: 14px;
border: 1px solid #A4F4CF;
background: linear-gradient(135deg, #ECFDF5 0%, #F0FDFA 100%);
}
.extra2{
border: 1px solid #BEDBFF;
}
.extra img,.extra2 img{
  height:32px;
  width:auto;
}
body{
  background-color:  #E2E8F0;   
  font-family: Inter;
}
